<div class="filetree-searchbar align-icon" onclick="openSearchFromSidebar()">
    <span class="search-icon">
        <i data-lucide="search"></i>
    </span>
    <input
        type="search"
        class="filetree-search-input"
        placeholder="{{ meta.uiStrings.searchPlaceholder }}"
        readonly
    >
    <span class="search-keys"><code>Ctrl</code>&nbsp;+&nbsp;<code>K</code></span>
</div>
